.mainContainer {
  border-top: 1px solid #34c94b;
  border-bottom: 1px solid #34c94b;
}

.songsAlbumContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 56px;
  padding-right: 28px;
  width: 1384px;
}

.filterSection {
  height: 34px;
  width: 331px;
  display: inline-flex;
  align-items: flex-start;
  gap: 28px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 10px;
}

.albumsContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 40px;
  row-gap: 32px;
}
.fullCardGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.fullCard {
  width: 159px;
  height: 232px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.onlyCard {
  width: 159px;
  height: 205px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #fff;
}

.cardWithBorderRadius {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.settingSmallBox {
  padding-left: 5px;
}

.smallBox {
  width: 71px;
  height: 23px;
  border-radius: 10px;
  background: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
}

.followersText {
  color: #fff;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.titleText {
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.topAlbumText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.firstText {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.customButtonPrev,
.customButtonNext {
  background-color: #34c94b;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: margin 0.3s;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.Navigation {
  width: 331px;
  height: 34px;
  display: inline-flex;
  align-items: flex-start;
  gap: 28px;
  margin-bottom: 10px;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.activeCategory {
  border-bottom: 2px solid #34c94b;
  width: 68px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: flex-end;
}
