.mainContainer {
  width: 1440px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.centeredContainer {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sizeingone {
  width: 1135px;
  height: 78px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #fff;
  background-color: black;
}
.sizeingtwo {
  width: 1135px;
  height: 78px;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #fff;
  /* background-color: black; */
}

.mainHeading {
  background-color: black;
}

.mainText {
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 12px;
}

.detailsBody {
  width: 1135px;
  height: 81px;
  border-radius: 0px 0px 10px 10px;
  background: #fff;
}

.detailsText {
  color: #121212;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 12px;
}
